* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(130deg, #DEE4FA 14.55%, #5B78DF 79.57%);
}

.left-wrapper {
    z-index: 1;
    overflow: visible;
    display: flex;
    flex: 1;
    padding: 2rem;
}
.header {
    text-align: center;
}
.upper-text {
    position: absolute;
    top: 5rem;
    left: 12rem;
    color: #DF735B;
    font-size: 60px;
    font-family: "Hepta Slab", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bottom-gif {
    position: absolute;
    left: 29rem;
    top: 15rem;
    z-index: 1;
    overflow: visible;
}
.right-wrapper {
    flex: 2;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 24% 100%);
}