* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(130deg, #DEE4FA 14.55%, #5B78DF 79.57%);
}

.left-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 20px;
}

.header {
    flex: 0.5;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.consumption-box {
    background: #DEE4FA;
    width: 35vw;
    height: 16vh;
    padding: 15px;
    justify-content: center;
    border-radius: 25px;
    gap: 20px;
    margin-bottom: 15px;
}

.highlight {
    color: #DF735B;
    font-family: "Hepta Slab";
    font-size: 40px;
    font-weight: bold;
}

p {
    font-family: "Inter";
    color: #FFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
}

.button {
    background: #DF735B;
    color: white;
    border: none;
    padding: 12px;
    font-family: "Inter";
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    margin-top: 15px;
}

.button:hover {
    background: #d1654f;
}

.bottom-gif {
    position: absolute;
    z-index: 1;
    left: 8rem;
    overflow: visible;
}

.right-wrapper {
    flex: 3.5;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
}